# Anonimisation
https://faker.readthedocs.io/en/master/#

In [ ]:
!pip install faker

In [ ]:
from faker import Faker

In [ ]:
import pandas as pd

In [66]:
def anon(df, attr, lang, fname):
        Faker.seed(4321)
        fake = Faker([lang])

        # replace the original names with fake names
        dict_fake = {{name: fake.name() for name in df[attr].unique()}
        df[attr] = df[attr].map(dict_fake)

        # save the coding in a file
        code = pd.DataFrame.from_dict(dict_fake, orient='index')
        code.to_csv(filename)  
        return df

## Test

In [ ]:
# create an instance
fake = Faker("de_DE")

In [ ]:
# fake name
fake.name()

In [ ]:
# fake address
fake.address()

In [ ]:
# fake text
fake.text()

In [68]:
d = {'name': ['Dora', 'Lora'] , 'address': ['Copenhagen', 'lyngby']}
d

{'name': ['Dora', 'Lora'], 'address': ['Copenhagen', 'lyngby']}

In [69]:
df = pd.DataFrame(data=d)
df

   name     address
0  Dora  Copenhagen
1  Lora      lyngby

In [ ]:
filename = 'anonimous.csv'

In [59]:
adata = anon(df, 'name', "de_DE", filename)
adata

                          name             address
0  Ann-Kathrin Ladeck-Bolnbach  Annetta Pistoletto
1               Manuela Kobelt     Eleanora Ossola

In [61]:
bdata = anon(adata, 'address', 'dk_DK', filename)
bdata

                          name         address
0  Ann-Kathrin Ladeck-Bolnbach  Jennifer Brown
1               Manuela Kobelt     Holly Stein

In [70]:
cdata = anon(df, 'name', 'address', 'dk_DK', filename)
cdata

NameError: name 'address' is not defined