# Read API
Requires mandatory parameters 'parameters' and 'headers'.

In [1]:
%%writefile readapi.py
import os
import json
import requests
import pprint

def readAPI(url, params, headers, filename):  
    list = []
    response = requests.get(url, params=params, headers=headers).json()
    list.append(response)
    
    # save in json file        
    with open(filename, 'w') as f:
        json.dump(list,f)
            #text = json.loads(response.text)
            #pretty = pprint.pformat(text).replace("'", '"')
            #f.write(pretty)

Writing readapi.py

## Test

In [5]:
import importlib 
importlib.reload(readapi)

In [6]:
import readapi
from readapi import readAPI

In [23]:
import pandas as pd
import json

In [7]:
# Use CVR API
# Search by CVR (vat), name (name), phone (phone) or production unit (produ) - key
# Cphbusiness cvr(31678021)

In [8]:
# the name of the company
company = "Cphbusiness"

In [ ]:
# user identification (alias)
user = <your alias here>

In [12]:
url='http://cvrapi.dk/api'  
params = {'search':company, 'country':'DK'}
headers = {'User-Agent': user}

In [13]:
# The response from the API reader is stored in a file as JSON object
filename = '/Users/tdi/Documents/Holodeck/Holodeck/Data/apitest.json'

In [14]:
response = readAPI(url, params, headers, filename)
response

## Store in DataFrame

In [40]:
df = pd.read_json(filename)

In [41]:
df

,vat,name,address,zipcode,city,cityname,protected,phone,email,fax,...,industrydesc,companycode,companydesc,creditstartdate,creditbankrupt,creditstatus,owners,productionunits,t,version
0,35358323,Cphbusiness Studenterforening,"Nansensgade 19, st",1366,København K,NaN,True,36154500,students@cphbusiness.dk,NaN,...,Andre organisationer og foreninger i.a.n.,115,Frivillig forening,NaN,False,NaN,NaN,"[{'pno': 1018893831, 'main': False, 'name': 'C...",100,6